- for(var i = 0; i < online.length; i++){
    div.chatcontact.col-lg-6(data-firstname="#{online[i]['first_name']}",data-username="#{online[i]['username']}")
      a(href="#")
        div.chatpicture(style="background-image:url(\'/#{online[i]['picture']}\');")
          div.filter
          div.mask
          span.left= online[i]["first_name"]
          span.green.right Online
- }
- for(var i = 0; i < offline.length; i++){
    div.chatcontact.col-lg-6(data-firstname="#{offline[i]['first_name']}",data-username="#{offline[i]['username']}")
      a(href="#")
        div.chatpicture(style="background-image:url(\'/#{offline[i]['picture']}\');")
          div.filter.offline
          div.mask
          span.left= offline[i]["first_name"]
          span.right Offline
- }
div.clearfix
div(style="height:20px;")
