doctype html
html
	head
		title YSES Central
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/chat.css')
		link(rel='stylesheet', href='/stylesheets/custom-navbar.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/search-bar.css')
		link(rel="stylesheet",href="/stylesheets/profile-page.css")
		link(rel="stylesheet",href="/stylesheets/title-hover.css")
		script(src='http://localhost:8080/javascripts/jquery-2.1.1.min.js')
		script(src='http://localhost:8080/javascripts/jquery-ui.min.js')
		script(src='http://localhost:8080/javascripts/jquery.mousewheel.min.js')
		script(src='http://localhost:8080/javascripts/jquery.simplr.smoothscroll.min.js')
		script(src='http://localhost:8080/javascripts/bootstrap.min.js')
		script(src='http://localhost:8080/javascripts/jquery.nicescroll.js')
		meta(name="viewport",content="width=device-width, initial-scale=1.0 user-scalable=no")
	body(data-type="background",data-speed="2")
		div#header.padding-vert
			nav.navbar.navbar-default.navbar-fixed-top
				div.container
					div.navbar-header
						button#phone-nav-button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						div#central-title
							a.ajax.navbar-brand(href="http://localhost:8080")
								img#logo.img-responsive(src="../images/logoAllWhite.png")
								h2(style="position:relative;margin:0px;top:-7px;") YSES Central
						div#search-bar.right-inner-addon.hidden-xs.hidden-sm.hidden-md
							// label(for="tags")
							i.glyphicon.glyphicon-search
							input#tags.form-control(type="text",name="mentee-1")
						div.btn-group.text-left.hidden-xs(style='float:right')
							div#navigation-buttons
								button.btn-name.dropdown-toggle(type="button",data-toggle="dropdown")
									h3#name #{name}
										img(src='#{picture}',style='width:40px;margin-left:15px;')
								ul.dropdown-menu.metro-dropdown(role="menu")
									li
										a.ajax.bold(href="http://localhost:8080/profile/#{name}") View Profile
									li
										a.ajax.bold(href="http://localhost:8080/YSERs") View YSERs
									li
										a.ajax.bold(href="http://localhost:8080/3") Something else here
									li.divider
									li
										form#logout(action="http://localhost:8080/logout",method="post")
										a(href="javascript:{}",onclick="$('#logout').submit()") Log out
								div#chatbox-icon.hidden-sm.hidden-md
									a.menu-icon(href="#")
										span.glyphicon.glyphicon-send
					// for phone navigation
					div#navbar.collapse
						ul.nav.navbar-nav.navbar-collapse.hidden-lg
							li.navbutton
								a.ajax.bold(href="http://localhost:8080/profile/#{name}") View Profile
							li.navbutton
								a.ajax.bold(href="http://localhost:8080/YSERs") View YSERs
							li.navbutton
								a.ajax.bold(href="http://localhost:8080/3") Something else here
							li.navbutton
								form#logout(action="http://localhost:8080/logout",method="post")
								a(href="javascript:{}",onclick="$('#logout').submit()") Log out
					div.clearfix
		div#containerMAIN
			div.container
				div.row
					div#content.col-lg-10
						div.col-lg-4.padding-vert
							h3 Announcements
							ul.no-bullets
								- for(var i=0;i<15;i++){
									li
										div.post.post-PAD
											button.close.hoverClose(type="button",aria-hidden="true") &times; 
											div.row
												h3.title
													PF Committee Heads Survey
											p.op Projects and Activities Department
											p.date 11/29/14 9:03PM
											div.row
												p Good evening YSERS. We are here to ask you who are interested in being a committee head this coming PF 2014. Thank you!
								- }
								
						div.col-lg-8.padding-vert
							h3 Logbook
							ul.no-bullets
								li
									div.post
										button.close.hoverClose(type="button",aria-hidden="true") &times; 
										div.row
											img.mini-pic(src='images/cla.jpg')
											h3.title Clarissa Estremos
										p.date 11/29/14 9:03PM
										div.row
											p Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here. Some text here.
								li
									div.post
										button.close.hoverClose(type="button",aria-hidden="true") &times; 
										div.row
											img.mini-pic(src='images/jv.jpg')
											h3.title John Viscel Sangkal
										p.date 11/29/14 9:03PM
										div.row
											p :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) :) 
					// chatbox
					div.col-lg-2.padding-vert.hidden-xs.hidden-sm.hidden-md
						ul.no-bullets.side-menu
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
		
		
		script(src='http://localhost:8080/javascripts/content-request.js')
		script(src='http://localhost:8080/javascripts/parallax.js')
		script(src='http://localhost:8080/javascripts/announcements.js')
		script(src='http://localhost:8080/javascripts/chatbox.js')
		script(src='http://localhost:8080/javascripts/autocomplete.js')
