link(rel="stylesheet",href="/stylesheets/padscore.css")
div.title-header.profile-header
	h2 JPad Score
div#jpadcontainer
	div#jpad-score.col-lg-5
		div.header
			h3 Tasks
		div.jpad-score-content
			- var totalitems = 0;
			- var totalscore = 0;
			table.table.table-hover
				tr.text-center
					td.event-title TASK
					td.event-title DATE
					td.event-title TOTAL ITEMS
					td.event-title SCORE
				each task in scores
					tr.text-center
						td= task["task"]
						td= task["date"]
						td= task["maxscore"]
						td= task["score"]
						- totalitems += task["maxscore"];
						- totalscore += task["score"];
	div#jpad-stat.col-lg-6
		div.header
			h3 Statistics
		div.jpad-stat-content.text-center
			p= "Total score: "+totalscore+"/"+totalitems
			p= "Percentage: "+(totalscore/totalitems*100).toFixed(2)+"%"
