doctype html
html
	head
		title YSES Central
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/chat.css')
		link(rel='stylesheet', href='/stylesheets/custom-navbar.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/search-bar.css')
		link(rel="stylesheet",href="/stylesheets/profile-page.css")
		link(rel="stylesheet",href="/stylesheets/title-hover.css")
		script(src='http://localhost:8080/javascripts/jquery-2.1.1.min.js')
		script(src='http://localhost:8080/javascripts/onload.js')
		script(src='http://localhost:8080/javascripts/jquery-ui.min.js')
		script(src='http://localhost:8080/javascripts/jquery.mousewheel.min.js')
		script(src='http://localhost:8080/javascripts/jquery.simplr.smoothscroll.min.js')
		script(src='http://localhost:8080/javascripts/bootstrap.min.js')
		script(src='http://localhost:8080/javascripts/jquery.nicescroll.js')
		meta(name="viewport",content="width=device-width, initial-scale=1.0 user-scalable=no")
	body(data-type="background",data-speed="2")
		div#header.padding-vert
			nav.navbar.navbar-default.navbar-fixed-top
				div.container
					div.navbar-header
						button#phone-nav-button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						div#central-title
							a.ajax.navbar-brand(href="http://localhost:8080")
								img#logo.img-responsive(src="../images/logoAllWhite.png")
								h2(style="position:relative;margin:0px;top:-7px;") YSES Central
						div#search-bar.right-inner-addon.hidden-xs.hidden-sm.hidden-md
							// label(for="tags")
							i.glyphicon.glyphicon-search
							input#tags.form-control(type="text",name="mentee-1")
						div.btn-group.text-left.hidden-xs(style='float:right')
							div#navigation-buttons
								button.btn-name.dropdown-toggle(type="button",data-toggle="dropdown")
									h3#name #{name}
										img(src='http://localhost:8080/#{picture}',style='width:40px;margin-left:15px;')
								ul.dropdown-menu.metro-dropdown(role="menu")
									li
										a.ajax.bold(href="http://localhost:8080/profile/#{username}") View Profile
									li
										a.ajax.bold(href="http://localhost:8080/YSERs") View YSERs
									li
										a.ajax.bold(href="http://localhost:8080/3") Something else here
									li.divider
									li
										form#logout(action="http://localhost:8080/logout",method="post")
										a(href="javascript:{}",onclick="$('#logout').submit()") Log out
								div#nav-button-group.text-center
									div#logbook-icon.hidden-sm.hidden-md
										a(href="#",data-toggle="modal",data-target="#logbookModal")
											span.glyphicon.glyphicon-pencil
										div#logbookModal.modal.fade
											div.modal-dialog
												div.modal-content.text-center
													div.text-left.modal-header
														button.close(type="button",data-dismiss="modal")
															span(aria-hidden="true") &times;
															span.sr-only Close
														h6.modal-title Write to Logbook
													div.modal-body
														textarea#logbook-input(placeholder="Make your ideas be heard")
													div.modal-footer
														span#counter 120 characters left 
														input.btn.btn-default(type="submit",value="POST")
									div#chatbox-icon.hidden-sm.hidden-md
										a.menu-icon-chatbox(href="#")
											span.glyphicon.glyphicon-send
									div#department-icon.hidden-sm.hidden-md
										a.menu-icon-department(href="#")
											span.glyphicon.glyphicon-list
										div#department-button-container
											div.wrapper.clearfix
												figure.gallery-item
													img.department-logo(src="http://localhost:8080/images/button/exec.png")
													a(href="#")
														figcaption.img-title.exec-title
															h3 EXEC
													ul.wheel.text-center
														li.item.exec-title
															a(href="#")
																h5 Announcement
														li.item.exec-title
															a(href="#")
																h5 Edit Accounts
														li.item.exec-title
															a.ajax(href="accountvalidator")
																h5 Validate
											div.wrapper.clearfix
												figure.gallery-item
													img.department-logo(src="http://localhost:8080/images/button/pad.png")
													a(href="#")
														figcaption.img-title.pad-title
															h3 PAD
													ul.wheel.text-center
														li.item.pad-title
															a(href="#")
																h5 JPAD stats
											div.wrapper.clearfix
												figure.gallery-item
													img.department-logo(src="http://localhost:8080/images/button/sec.png")
													a(href="#")
														figcaption.img-title.sec-title
															h3 SEC
													ul.wheel.text-center
														li.item.sec-title
															a(href="#")
																h5 Attendance
											div.wrapper.clearfix
												figure.gallery-item
													img.department-logo(src="http://localhost:8080/images/button/vl.png")
													a(href="#")
														figcaption.img-title.vl-title
															h3 VL
													ul.wheel.text-center
														li.item.vl-title
															a(href="#")
																h5 VL Inventory
											div.wrapper.clearfix
												figure.gallery-item
													img.department-logo(src="http://localhost:8080/images/button/SCHO.png")
													a(href="#")
														figcaption.img-title.scho-title
															h3 SCHO
													ul.wheel.text-center
														li.item.scho-title
															a(href="#")
																h5 Checklist
											div.wrapper.clearfix
												figure.gallery-item
													img.department-logo(src="http://localhost:8080/images/button/hr.png")
													a(href="#")
														figcaption.img-title.hr-title
															h3 HR
													ul.wheel.text-center
														li.item.hr-title
															a(href="#")
																h5 Family Tree
											div.wrapper.clearfix
												figure.gallery-item
													img.department-logo(src="http://localhost:8080/images/button/fin.png")
													a(href="#")
														figcaption.img-title.fin-title
															h3 FIN
													ul.wheel.text-center
														li.item.fin-title
															a(href="#")
																h5 Member Fees
					// for phone navigation
					div#navbar.collapse
						ul.nav.navbar-nav.navbar-collapse.hidden-lg
							li.navbutton
								a.ajax.bold(href="http://localhost:8080/profile/#{username}") View Profile
							li.navbutton
								a.ajax.bold(href="http://localhost:8080/YSERs") View YSERs
							li.navbutton
								a.ajax.bold(href="http://localhost:8080/3") Something else here
							li.navbutton
								form#logout(action="http://localhost:8080/logout",method="post")
								a(href="javascript:{}",onclick="$('#logout').submit()") Log out
					div.clearfix
		div#containerMAIN
			div.container
				div.row
					div#content.col-lg-10
						// content goes here
					// chatbox
					div.col-lg-2.padding-vert.hidden-xs.hidden-sm.hidden-md
						ul.no-bullets.side-menu
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/jv.jpg')
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/cla.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/cla.jpg')
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/cla.jpg')
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/cla.jpg')
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/cla.jpg')
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/cla.jpg')
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/cla.jpg')
									li.metro.half
										img.tile-pic(src='http://localhost:8080/images/jv.jpg')
		
		
		script(src='http://localhost:8080/javascripts/content-request.js')
		script(src='http://localhost:8080/javascripts/parallax.js')
		script(src='http://localhost:8080/javascripts/chatbox.js')
		script(src='http://localhost:8080/javascripts/department.js')
		script(src='http://localhost:8080/javascripts/autocomplete.js')
		script(src='http://localhost:8080/javascripts/title-hover.js')
