doctype html
html
	head
		title YSES Central
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/chat.css')
		link(rel='stylesheet', href='/stylesheets/custom-navbar.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/search-bar.css')
		link(rel="stylesheet",href="/stylesheets/profile-page.css")
		link(rel="stylesheet",href="/stylesheets/title-hover.css")
		meta(name="viewport",content="width=device-width, initial-scale=1.0 user-scalable=no")
	body(data-type="background",data-speed="2")
		div#header.padding-vert
			nav.navbar.navbar-default.navbar-fixed-top
				div.container
					div.navbar-header
						button#phone-nav-button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						div#central-title
							a.ajax.navbar-brand(href="http://localhost:8080")
								img#logo.img-responsive(src="../images/logoAllWhite.png")
								h2(style="position:relative;margin:0px;top:-7px;") YSES Central
						div#search-bar.input-group.hidden-xs.hidden-sm.hidden-md
							// label(for="tags")
							input#tags.form-control(type="text",name="mentee-1")
							span.input-group-btn
								button#srch-button.btn.btn-default(type="button",value="+")
									span.glyphicon.glyphicon-search
						div.btn-group.text-left.hidden-xs(style='float:right')
							div#navigation-buttons
								button.btn-name.dropdown-toggle(type="button",data-toggle="dropdown")
									h3#name #{name}
										img(src='#{picture}',style='width:40px;margin-left:15px;')
								ul.dropdown-menu.metro-dropdown(role="menu")
									li
										a.ajax.bold(href="http://localhost:8080/profile/#{name}") Profile
									li
										a.ajax.bold(href="http://localhost:8080/2") Another action
									li
										a.ajax.bold(href="http://localhost:8080/3") Something else here
									li.divider
									li
										form#logout(action="http://localhost:8080/logout",method="post")
										a(href="javascript:{}",onclick="$('#logout').submit()") Log out
								div#chatbox-icon.hidden-sm.hidden-md
									a.menu-icon(href="#")
										span.glyphicon.glyphicon-send
					// for phone navigation
					div#navbar.collapse
						ul.nav.navbar-nav.navbar-collapse.hidden-lg
							li.navbutton
								a.ajax.bold(href="http://localhost:8080/profile/#{name}") Profile
							li.navbutton
								a.ajax.bold(href="http://localhost:8080/2") Another action
							li.navbutton
								a.ajax.bold(href="http://localhost:8080/3") Something else here
							li.navbutton
								form#logout(action="http://localhost:8080/logout",method="post")
								a(href="javascript:{}",onclick="$('#logout').submit()") Log out
					div.clearfix
		div#containerMAIN
			div.container
				div.row
					div#content.col-lg-10
							div#profile-bar.col-lg-3
								div.row
									div.box-group
										div.box
											div.profile-content
												img.img-responsive(src="../images/Cla.jpg")
										div.box
											div.text.text-center.profile-content
												div.row
													h4.lead Ma. Clarissa Estremos
													p.department-text.small Secretariat Department
												div.row
													p 
														em Hi. This is italic text. Some text. More text. Amazing skills. This is some text but I don't mind
								div.row
									div.box-group
										div.button
											div.box-content
												div.box
													button.profile-button(type="button")
														span Go to department
														span.glyphicon.glyphicon-edit
												div.box
													button.profile-button(type="button")
														span Edit profile
														span.glyphicon.glyphicon-cog
								//- if(not user's profile) THIS_PROFILE.setVisible(false);
									this buttons should not exist if accessed by other users
							div.container.col-lg-9
								div#information
									div.row
										div.box-group
											div.box.box-about
												div.profile-content.title.text-center
													button#about.profile-button(type="button",href="#")
														span ABOUT
										div.box-group
											div.box.box-mentor
												div.profile-content.title.text-center
													button#mentor.profile-button(type="button")
														span MENTOR
										div.box-group
											div.box.box-mentee
												div.profile-content.title.text-center
													button#mentee.profile-button(type="button")
														span MENTEE
										div.box-group
											div.box.box-moreinfo
												div.profile-content.title.text-center
													button#more.profile-button(type="button")
														span MORE
									div.row
										div#box-data
											div.box
												div#about-data.hidden
													div.table-title
														strong DETAILS
															span.glyphicon.glyphicon-user
													table.table.table-hover
														tr
															td First name
															td Cla
														tr
															td Middle Name
															td Ganda
														tr
															td Last Name
															td Estremos
														tr
															td Organization Classification
															td Active
														tr
															td Department
															td Best Department
														tr
															td Student Number
															td 2014-09272
														tr
															td Organization Batch
															td Penguins
														tr
															td University Batch
															td Batch '14
														tr
															td Birthday
															td Month 1, 0000
														tr
															td Home Adress
															td Adress is here
														tr
															td College Adress
															td Adress is here too!
												div#mentor-data.hidden
													div.row
														div.table-title
															strong MENTOR
																span.glyphicon.glyphicon-eye-open
														hr
													div.mentor-data-content-image
														img.img-responsive(src="../images/Cla.jpg")
													div.mentor-data-content-text
														div.row
															div.mentor-data-content-3
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 First Name
																		figcaption.img-title
																			h5 something
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Middle Name
																		figcaption.img-title
																			h5 something
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Last Name
																		figcaption.img-title
																			h5 something
														div.row
															div.mentor-data-content-1
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Organization Classification
																		figcaption.img-title
																			h5 something
														div.row
															div.mentor-data-content-1
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Department
																		figcaption.img-title
																			h5 something
														div.row
															div.mentor-data-content-1
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Student Number
																		figcaption.img-title
																			h5 something
														div.row
															div.mentor-data-content-1
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Organization Batch
																		figcaption.img-title
																			h5 something
														div.row
															div.mentor-data-content-1
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 University Batch
																		figcaption.img-title
																			h5 something
														div.row
															div.mentor-data-content-3
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Month
																		figcaption.img-title
																			h5 something
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Day
																		figcaption.img-title
																			h5 something
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Year
																		figcaption.img-title
																			h5 something
														div.row
															div.mentor-data-content-4
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Mentee
																		figcaption.img-title
																			h5 something
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Mentee
																		figcaption.img-title
																			h5 something
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Mentee
																		figcaption.img-title
																			h5 something
																div.wrapper.clearfix
																	figure.gallery-item
																		h5 Mentee
																		figcaption.img-title
																			h5 something
												div#mentee-data.hidden
													div.row
														div.table-title
															strong MENTEE
																span.glyphicon.glyphicon-leaf
														hr
													div.mentee-image-container
														div.mentee-data-image
															button#mentee-1
																img.img-responsive(src="../images/JV.jpg")
														div.mentee-data-image
															button#mentee-2
																img.img-responsive(src="../images/JV.jpg")
														div.mentee-data-image
															button#mentee-3
																img.img-responsive(src="../images/JV.jpg")
													div.mentee-data-content
														div.mentee-1.hidden
															div.row
																table.table.table-hover.table-condensed
																	thead
																		tr
																			td DETAILS
																	tbody
																		tr
																			td.row-head Full Name
																			td This I. Name
																		tr
																			td.row-head Organization Classification
																			td Something
																		tr
																			td.row-head Department
																			td Something
																		tr
																			td.row-head Student Number
																			td Something
																		tr
																			td.row-head Organization Batch
																			td Something
																		tr
																			td.row-head University Batch
																			td Something
																		tr
																			td.row-head Birthday
																			td Something
															div.row
																div.mentee-data-content-1
																	div.wrapper.clearfix
																		figure.gallery-item
																			h5 Mentee
																			figcaption.img-title
																				h5 something
														div.mentee-2.hidden
															div.row
																table.table.table-hover.table-condensed
																	thead
																		tr
																			td DETAILS
																	tbody
																		tr
																			td.row-head Full Name
																			td Yeah Yeah I. Name
																		tr
																			td.row-head Organization Classification
																			td Something
																		tr
																			td.row-head Department
																			td Something
																		tr
																			td.row-head Student Number
																			td Something
																		tr
																			td.row-head Organization Batch
																			td Something
																		tr
																			td.row-head University Batch
																			td Something
																		tr
																			td.row-head Birthday
																			td Something
															div.row
																div.mentee-data-content-2
																	div.wrapper.clearfix
																		figure.gallery-item
																			h5 Mentee
																			figcaption.img-title
																				h5 something
																	div.wrapper.clearfix
																		figure.gallery-item
																			h5 Mentee
																			figcaption.img-title
																				h5 something
														div.mentee-3.hidden
															div.row
																table.table.table-hover.table-condensed
																	thead
																		tr
																			td DETAILS
																	tbody
																		tr
																			td.row-head Full Name
																			td This I. Something
																		tr
																			td.row-head Organization Classification
																			td Something
																		tr
																			td.row-head Department
																			td Something
																		tr
																			td.row-head Student Number
																			td Something
																		tr
																			td.row-head Organization Batch
																			td Something
																		tr
																			td.row-head University Batch
																			td Something
																		tr
																			td.row-head Birthday
																			td Something
															div.row
																div.mentee-data-content-3
																	div.wrapper.clearfix
																		figure.gallery-item
																			h5 Mentee
																			figcaption.img-title
																				h5 something
																	div.wrapper.clearfix
																		figure.gallery-item
																			h5 Mentee
																			figcaption.img-title
																				h5 something
																	div.wrapper.clearfix
																		figure.gallery-item
																			h5 Mentee
																			figcaption.img-title
																				h5 something
												div#more-data.hidden
													div.row
														div.table-title
															strong MORE
																span.glyphicon.glyphicon-th-list
														hr
					// chatbox
					div.col-lg-2.padding-vert.hidden-xs.hidden-sm.hidden-md
						ul.no-bullets.side-menu
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')

		script(src='http://localhost:8080/javascripts/jquery-2.1.1.min.js')
		script(src='http://localhost:8080/javascripts/bootstrap.min.js')
		script(src='http://localhost:8080/javascripts/jquery.nicescroll.js')
		script(src='http://localhost:8080/javascripts/content-request.js')
		script(src='http://localhost:8080/javascripts/parallax.js')
		script(src='http://localhost:8080/javascripts/announcements.js')
		script(src='http://localhost:8080/javascripts/chatbox.js')
		script(src='http://localhost:8080/javascripts/autocomplete.js')
		script(src='http://localhost:8080/javascripts/jquery-ui.js')
		script(src='http://localhost:8080/javascripts/jquery-ui.min.js')
		script(src='http://localhost:8080/javascripts/title-hover.js')
		script(src='http://localhost:8080/javascripts/toggler.js')
