doctype html
html
	head
		title YSES Central
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/chat.css')
		link(rel='stylesheet', href='/stylesheets/custom-navbar.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/search-bar.css')
		link(rel="stylesheet",href="/stylesheets/profile-page.css")
		link(rel="stylesheet",href="/stylesheets/title-hover.css")
		meta(name="viewport",content="width=device-width, initial-scale=1.0 user-scalable=no")
	body(data-type="background",data-speed="2")
		div#header.padding-vert
			nav.navbar.navbar-default.navbar-fixed-top
				div.container
					div.navbar-header
						button#phone-nav-button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						div#central-title
							a.ajax.navbar-brand(href="http://localhost:8080")
								img#logo.img-responsive(src="../images/logoAllWhite.png")
								h2(style="position:relative;margin:0px;top:-7px;") YSES Central
						div#search-bar.input-group.hidden-xs.hidden-sm.hidden-md
							// label(for="tags")
							input#tags.form-control(type="text")
							span.input-group-btn
								button#srch-button.btn.btn-default(type="button",value="+")
									span.glyphicon.glyphicon-search
						div.btn-group.text-left.hidden-xs(style='float:right')
							div#navigation-buttons
								button.btn-name.dropdown-toggle(type="button",data-toggle="dropdown")
									h3#name #{name}
										img(src='http://localhost:8080/#{picture}',style='width:40px;margin-left:15px;')
								ul.dropdown-menu.metro-dropdown(role="menu")
									li
										a.ajax.bold(href="http://localhost:8080/profile/#{name}") Profile
									li
										a.ajax.bold(href="http://localhost:8080/2") Another action
									li
										a.ajax.bold(href="http://localhost:8080/3") Something else here
									li.divider
									li
										form#logout(action="http://localhost:8080/logout",method="post")
										a(href="javascript:{}",onclick="$('#logout').submit()") Log out
								div#chatbox-icon.hidden-sm.hidden-md
									a.menu-icon(href="#")
										span.glyphicon.glyphicon-send
					// for phone navigation
					div#navbar.collapse
						ul.nav.navbar-nav.navbar-collapse.hidden-lg
							li.navbutton
								a.ajax.bold(href="http://localhost:8080/profile/#{name}") Profile
							li.navbutton
								a.ajax.bold(href="http://localhost:8080/2") Another action
							li.navbutton
								a.ajax.bold(href="http://localhost:8080/3") Something else here
							li.navbutton
								form#logout(action="http://localhost:8080/logout",method="post")
								a(href="javascript:{}",onclick="$('#logout').submit()") Log out
					div.clearfix
		div#containerMAIN
			div.container
				div.row
					div#content.col-lg-10
							div#profile-bar.col-lg-3
								div.row
									div.box-group
										div.box
											div.profile-content
												img.img-responsive(src="http://localhost:8080/#{rows['picture']}")
										div.box
											div.text.text-center.profile-content
												div.row
													- var middlename = rows["middle_name"].split(" ");
													- var middlenameinitials = "";
														each word in middlename
															- middlenameinitials = middlenameinitials.concat(word.substring(0,1));
													- var fullname = rows["first_name"] + " " + middlenameinitials + ". " + rows["last_name"];
													h4.lead= fullname
													case rows["department"]
														when "jpad"
															- var department = "Junior Projects and Activities Department";
														when "spad"
															- var department = "Senior Projects and Activities Department";
														when "vl"
															- var department = "Visuals and Logistics Department";
														when "sec"
															- var department = "Secretariat Department";
														when "scho"
															- var department = "Scholastics Department";
														when "fin"
															- var department = "Finance Department";
														when "hr"
															- var department = "Human Resources Department";
														when "exec"
															- var department = "Executive Department";
													p.department-text.small= department
												div.row
													p 
														em Hi. This is italic text. Some text. More text. Amazing skills. This is some text but I don't mind
								div.row
									div.box-group
										div.button
											div.box-content
												div.box
													button.profile-button(type="button")
														span Go to department
														span.glyphicon.glyphicon-edit
												if exec_position || name == rows["first_name"]
													div.box
														button.profile-button(type="button")
															span Edit profile
															span.glyphicon.glyphicon-cog
								//- if(not user's profile) THIS_PROFILE.setVisible(false);
									this buttons should not exist if accessed by other users
							div.container.col-lg-9
								div#information
									div.row
										div.box-group
											div.box.box-about
												div.profile-content.title.text-center
													button#about.profile-button(type="button",href="#")
														span ABOUT
										div.box-group
											div.box.box-mentor
												div.profile-content.title.text-center
													button#mentor.profile-button(type="button")
														span MENTOR
										div.box-group
											div.box.box-mentee
												div.profile-content.title.text-center
													button#mentee.profile-button(type="button")
														span MENTEE
										div.box-group
											div.box.box-moreinfo
												div.profile-content.title.text-center
													button#more.profile-button(type="button")
														span MORE
									div.row
										div#box-data
											div.box
												
					// chatbox
					div.col-lg-2.padding-vert.hidden-xs.hidden-sm.hidden-md
						ul.no-bullets.side-menu
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='../images/cla.jpg')
									li.metro.half
										img.tile-pic(src='../images/jv.jpg')

		script(src='http://localhost:8080/javascripts/jquery-2.1.1.min.js')
		script(src='http://localhost:8080/javascripts/bootstrap.min.js')
		script(src='http://localhost:8080/javascripts/jquery.nicescroll.js')
		script(src='http://localhost:8080/javascripts/content-request.js')
		script(src='http://localhost:8080/javascripts/parallax.js')
		script(src='http://localhost:8080/javascripts/announcements.js')
		script(src='http://localhost:8080/javascripts/chatbox.js')
		script(src='http://localhost:8080/javascripts/autocomplete.js')
		script(src='http://localhost:8080/javascripts/jquery-ui.min.js')
		script(src='http://localhost:8080/javascripts/title-hover.js')
		script(src='http://localhost:8080/javascripts/toggler.js')
