link(rel="stylesheet",href="http://localhost:8080/stylesheets/secattendance.css")
div.title-header.profile-header
	h2 YSERs Attendance
div#seccontainer
	div#event-buttons
		button#add-event.pull-left(data-toggle="modal",data-target="#addEventModal",data-placement="left") 
			| Add Event
		div#addEventModal.modal.fade.text-left
			div.modal-dialog
				div.modal-content.col-lg-15
					div.modal-header
						button.close(type="button",data-dismiss="modal")
							span(aria-hidden="true") &times;
							span.sr-only Close
						h6.modal-title Add event
					div.modal-body
						div.header-input-group
							h5 Event Title
							input#title.form-control.input-header(type="text")
						div.header-input-group
							h5 Event Date
							input#date.form-control.input-header(type="date")
						div.table-content
							table.table
								tr
									td YSER
									td.text-center Did Attend
									- for(var a = 0; a < attendance.length; a+=1){
										tr(data-name="#{attendance[a].name}")
											td 
												div.jpad
													img.yser-image(src="http://localhost:8080/#{attendance[a].picture}")
													span.yser-name #{attendance[a].name}
											td.text-center
												input(type="checkbox")
									- }
					div.modal-footer
						input#postAddEvent.btn.btn-primary.pull-right(type="button",value="Add Event",data-loading="Loading")
		button#edit-event.btn.btn-primary.edit.pull-left(data-loading="Loading")
			| Edit Event
		//button#remove-event.pull-left Remove Event
		div.btn-group
			button#remove-event.pull-left.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
				| Remove Event 
				span.caret
			ul.dropdown-menu(role='menu')
				- for(var x = 0; x < (events.length); x+=1){
					li 
						a.removeEventButton(href='#') #{events[x].name}
				- }
	div#guide
		div.header
			h3 Table
		div.guide-content
			table.table.table-hover
				tr
					- for(var x = 0; x < (events.length + 1); x+=1){
						if x == 0
							td
						else if x != 0
							td.text-center 
								span.event-title #{events[x-1].name}
								span.date #{events[x-1].date}
					- }
					- for(var a = 0; a < attendance.length; a+=1){
						tr.yserrow(data-name="#{attendance[a]['name']}")
							td 
								div.jpad
									img.yser-image(src="http://localhost:8080/#{attendance[a].picture}")
									span.yser-name #{attendance[a].name}
							- for(var b = 0; b < events.length; b+=1){
								- if( attendance[a].eventsAttended.indexOf(events[b].name) != -1){
									td.attendance-result.text-center(data-event="#{events[b]['name']}")
										span.glyphicon.glyphicon-ok
								- }
								- else{
									td.attendance-result.text-center(data-event="#{events[b]['name']}")
										span.glyphicon.glyphicon-remove
								- }
							- }
					- }
	div#stat
		div.header 
			h3 Statistics
		div.stat-content
			each member in attendance
				div.col-lg-3.nsec-stat.text-center
					p.name= member["name"]
					p= "Events present: "+member["eventsAttended"].length
					p= "Events absent: "+(events.length-member["eventsAttended"].length)
					p= "Percentage: "+(member["eventsAttended"].length/events.length*100).toFixed(2)+"%"
script(src="http://localhost:8080/javascripts/secattendance.js")
