link(rel="stylesheet",href="http://localhost:8080/stylesheets/padscore.css")
div.title-header.profile-header
	h2 JPad Score
div#spadcontainer.col-lg-12
	div#jpad-task
		div.header
			h3 List of tasks
		each task in tasks
			div.list-of-tasks.col-lg-2
				div.chevron.text-center
					span.glyphicon.glyphicon-chevron-right
				div.jpad-task-content.text-left
					p.event-title= task["name"]
					p= task["date"]
					p= "Max Score: "+task["maxscore"]
	div#jpad-score
		div.header
			h3 List of Scores
		div.jpad-score-content.col-lg-12
			table.table.table-hover
				each member in scores
					tr.name-header
						td
							img.jpad-image(src="http://localhost:8080/"+member["picture"])
							span.jpad-name= member["name"]
						td.text-right(style="font-size:9px;",colspan=2) CLICK ME
					tr.score-list.text-center.hidden
						td Task
						td Score		
							each score in member["scores"]
								tr.score-list.text-center.hidden
									td= score["task"]
									td= score["score"]
	div#jpad-stat
		div.header
			h3 Statistics
		- var totalitems = 0;
		- for(var i = 0; i < tasks.length; i++){
		-   totalitems += tasks[i]["maxscore"];
		- }
		each member in scores
			div.jpad-stat-content.col-lg-3.text-center
				p.name= member["name"]
				- var total = 0;
				- for(var i = 0; i < member["scores"].length; i++){
				-   total += member["scores"][i]["score"];
				- }
				p= "Total score: "+total+"/"+totalitems
				p= "Percentage: "+(total/totalitems*100).toFixed(2)+"%"
script.
	$(document).ready(function(){
		/*$('.name-header').on('click',function(){
			var next = $(this).next();
			callNext(next);
		});

		function callNext(selector){

			selector.show('fast');
			selector.toggleClass('hidden');

			selector = selector.next();

			if( selector.hasClass('name-header') ){
				return false;
			} else {
				callNext(selector);
			}

		}*/

		$('.name-header').on('click',function(){
			var next = $(this).nextUntil('.name-header');
			next.show('fast');
			next.toggleClass('hidden');
		});

	});