doctype html
html
	head
		title YSES Central
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/chat.css')
		link(rel='stylesheet', href='/stylesheets/custom-navbar.css')
		link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
		link(rel='stylesheet', href='/stylesheets/search-bar.css')
		link(rel="stylesheet",href="/stylesheets/profile-page.css")
		link(rel="stylesheet",href="/stylesheets/title-hover.css")
		script(src='/javascripts/jquery-2.1.1.min.js')
		script(src='/javascripts/onload.js')
		script(src='/javascripts/jquery-ui.min.js')
		script(src='/javascripts/jquery.mousewheel.min.js')
		script(src='/javascripts/jquery.simplr.smoothscroll.min.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/jquery.nicescroll.js')
		meta(name="viewport",content="width=device-width, initial-scale=1.0 user-scalable=no")
	body(data-type="background",data-speed="2")
		div#header.padding-vert
			nav.navbar.navbar-default.navbar-fixed-top
				div.container
					div.navbar-header
						button#phone-nav-button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						div#department-icon.hidden-sm.hidden-md
							a.menu-icon-department(href="#")
								span.glyphicon.glyphicon-list
							div#department-button-container
								div.wrapper.clearfix
									figure.gallery-item
										img.department-logo(src="../images/department-logo/exec.png")
										a(href="#")
											figcaption.img-title.exec-title
												h3 EXEC
								div.wrapper.clearfix
									figure.gallery-item
										img.department-logo(src="../images/department-logo/pad.png")
										a(href="#")
											figcaption.img-title.pad-title
												h3 PAD
								div.wrapper.clearfix
									figure.gallery-item
										img.department-logo(src="../images/department-logo/sec.png")
										a(href="#")
											figcaption.img-title.sec-title
												h3 SEC
								div.wrapper.clearfix
									figure.gallery-item
										img.department-logo(src="../images/department-logo/vl.png")
										a(href="#")
											figcaption.img-title.vl-title
												h3 VL
								div.wrapper.clearfix
									figure.gallery-item
										img.department-logo(src="../images/department-logo/SCHO.png")
										a(href="#")
											figcaption.img-title.scho-title
												h3 SCHO
								div.wrapper.clearfix
									figure.gallery-item
										img.department-logo(src="../images/department-logo/hr.png")
										a(href="#")
											figcaption.img-title.hr-title
												h3 HR
								div.wrapper.clearfix
									figure.gallery-item
										img.department-logo(src="../images/department-logo/fin.png")
										a(href="#")
											figcaption.img-title.fin-title
												h3 FIN
						div#central-title
							a.ajax.navbar-brand(href="/")
								img#logo.img-responsive(src="../images/logoAllWhite.png")
								h2(style="position:relative;margin:0px;top:-7px;") YSES Central
						div#search-bar.right-inner-addon.hidden-xs.hidden-sm.hidden-md
							// label(for="tags")
							i.glyphicon.glyphicon-search
							input#tags.form-control(type="text",name="mentee-1")
						div.btn-group.text-left.hidden-xs(style='float:right')
							div#navigation-buttons
								button.btn-name.dropdown-toggle(type="button",data-toggle="dropdown")
									h3#name #{name}
										img(src='#{picture}',style='width:40px;margin-left:15px;')
								ul.dropdown-menu.metro-dropdown(role="menu")
									li
										a.ajax.bold(href="/profile/#{name}") View Profile
									li
										a.ajax.bold(href="/YSERs") View YSERs
									li
										a.ajax.bold(href="/3") Something else here
									li.divider
									li
										form#logout(action="/logout",method="post")
										a(href="javascript:{}",onclick="$('#logout').submit()") Log out
								div#chatbox-icon.hidden-sm.hidden-md
									a.menu-icon-chatbox(href="#")
										span.glyphicon.glyphicon-send
					// for phone navigation
					div#navbar.collapse
						ul.nav.navbar-nav.navbar-collapse.hidden-lg
							li.navbutton
								a.ajax.bold(href="/profile/#{name}") View Profile
							li.navbutton
								a.ajax.bold(href="/YSERs") View YSERs
							li.navbutton
								a.ajax.bold(href="/3") Something else here
							li.navbutton
								form#logout(action="/logout",method="post")
								a(href="javascript:{}",onclick="$('#logout').submit()") Log out
					div.clearfix
		div#containerMAIN
			div.container
				div.row
					div#content.col-lg-10
						// content goes here
					// chatbox
					div.col-lg-2.padding-vert.hidden-xs.hidden-sm.hidden-md
						ul.no-bullets.side-menu
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
							li.chat-row
								ul.no-bullets
									li.metro.half
										img.tile-pic(src='images/cla.jpg')
									li.metro.half
										img.tile-pic(src='images/jv.jpg')
		
		
		script(src='/javascripts/content-request.js')
		script(src='/javascripts/parallax.js')
		script(src='/javascripts/announcements.js')
		script(src='/javascripts/chatbox.js')
		script(src='/javascripts/department.js')
		script(src='/javascripts/autocomplete.js')\
